  .main {
  padding: 20px;
  color: #034c8d;
}

.welcome-title {
  margin-bottom: 15px;
}

.welcome-text {
  margin-bottom: 30px;
}

.video-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

