.header-container {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 10px 20px;
    z-index: 1000;
  }

.logo {
  height: 250px;
  margin-right: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

.nav-list {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}

.nav-list .MuiListItem {
  margin: 0 5px;
  padding: 5px 10px;
  white-space: nowrap;
  display: inline-block;
}

.nav-list .MuiListItemText-primary {
  color: #f7a83e;
  font-weight: bold;
  white-space: nowrap;
}

