#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(
    to top,
    rgba(3, 76, 141, 1) 20%,    /* Bleu opaque en haut */
    rgba(3, 76, 141, 0) 100%   /* Bleu transparent à 100% */
  ),
  linear-gradient(
    to top,
    rgba(247, 168, 62, 1) 20%,   /* Orange opaque en haut */
    rgba(247, 168, 62, 0) 100%  /* Orange transparent à 100% */
  );
  background-size: 50% 80%;  /* 50% largeur et 50% hauteur */
  background-position: left bottom, right bottom;  /* Positionner bleu à gauche, orange à droite */
  background-repeat: no-repeat;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #f7a83e);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #034c8d);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
